h1 {
 color:red;
 background-color: cyan;
}

.hello {
  color: blue;
}

#hello {
  color: green;
}

h2 {
  color: black;
}

.yellow {
  color: yellow;
}

.red-background-yellow {
  background-color: green;
color: red;
}

.red-background {
  background-color: tomato;
}

strong {
  color: yellow;
}

em {
  color: red;
}

#example {
  color: green;
}

p {
  color: darkmagenta;
}

/* new example*/

h2 {
  color: rgb(238, 37, 11);
}
aside {
  color: rgb(213, 13, 240);
}
header {
  color: rgb(10, 14, 245);
}