h1 {
 color:red;
 background-color: cyan;
}

.hello {
  color: blue;
}

#hello {
  color: green;
}

h2 {
  color: black;
}

.yellow {
  color: yellow;
}

.red-background-yellow {
  background-color: green;
color: red;
}

.red-background {
  background-color: tomato;
}

strong {
  color: yellow;
}

em {
  color: red;
}

#example {
  color: green;
}

p {
  color: darkmagenta;
}

/* new example*/

h2 {
  color: rgb(238, 37, 11);
}
aside {
  color: rgb(213, 13, 240);
}
header {
  color: rgb(10, 14, 245);
}
main {
  color: rgb(8, 235, 57);
}
article {
  color: rgb(243, 9, 9);
}
header {
  color: rgb(10, 241, 21);
}
.example-1 {
  background-color: rgb(240, 178, 6);
}
.example-2 {
  background-color: rgba(145, 5, 180, 0.904);
}
.example-3 {
  background-color: rgba(0, 100, 0, 0.74);
}
.example-4 {
  background-color: rgba(139, 0, 0, 0.911);
}
.example-5 {
  background-color: rgb(241, 30, 241);
}
#example-1 {
  font-size: 10px;
}
#example-2 {
  font-size: 10px;
}
#example-3 {
  font-size: 10px;
}
#example-4 {
  font-size: 10px;
}
#example-5 {
  font-size: 10px;
}