h1 {
 color:red;
 background-color: cyan;
}

.hello {
  color: blue;
}

#hello {
  color: green;
}

h2 {
  color: black;
}

.yellow {
  color: yellow;
}

.red-background-yellow {
  background-color: green;
}

.red-background {
  background-color: tomato;
}

#example {
  color: green;
}

p {
  color: darkmagenta;
}